@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
    }


    /*-------MAIN BLACK BOX--------*/
    .mainheadder >.container{
        display: block;
        padding: 0;
        width: 100%;
        flex-wrap: none;
        align-items: none;
        justify-content: none;
    }
    .mainheadder{
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), 
     url(../img/people-office-background.jpg);
    }

    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .mainheadder {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), 
     url(../img/people-office-background2x.jpg);
  }
}

    .title{ 
        font-size: 56px;
        line-height: 1.07;
    }

    /*--------------Section1--------*/

.abouthead {
    padding-bottom: 120px;
 
 }
 
 .about-list {
     padding-top: 120px;
     justify-content: center;
     display: flex;
     gap: 24px;
 }
 
 .about-item {
    margin-bottom: 0;
     width: 264px;
     height: 112px;
 }
 .about-link {
    position: inherit;
    width: inherit;
    height: inherit;
    margin: inherit;
    border: none;
    padding: inherit;
    white-space: nowrap;
    clip-path: none;
    clip: none;
    overflow: none;
     width: 100%;
     height: 100%;
     background-color: #F4F4FD;
     border-radius: 4px;
     display: flex;
     align-items: center;
     justify-content: center;
 }


 .hhead{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: none;
     color: #2E2F42;
     margin-top: 8px;
 }
 
 .phead{
     width: 264px;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
 
     letter-spacing: 0.02em;
     color: #434455;
 }

    /*--------------Section2--------*/
.our-work{
    position: inherit;
    width: inherit;
    height: inherit;
    margin: inherit;
    border: none;
    padding: inherit;
    white-space: nowrap;
    clip-path: none;
    clip: none;
    overflow: none;
    padding-top: 120px;
    padding-bottom: 120px;
    }
    .title-two{
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    
    color: #2E2F42;
    }
    
    .img-wedoing{
    gap: 24px;
    display: flex;
    padding: 0px;
    
    }

    /*--------------Section3--------*/
.team{
    padding-bottom: 120px;
    padding-top: 120px; 
}

.img-team{
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;    

}

.studio-soc-item {
    width: 40px;
    height: 40px;
}

/*-----SECTION 4---*/
.cust {
    padding-top: 130px;
    padding-bottom: 120px;
}

.cust-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}

.cust-item {
    width: calc((100% - 150px)/6);
    height: 88px;
}
     /* -----FOOOTER---- */
    .wrap-footer {
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-wrap: nowrap;
    }

    .foot-logo {
        padding-top: 100px;
        padding-bottom: 100px;
        display: grid;
        justify-content: center;
    }

    .soc-link-footer {
        margin-left: 120px;
    }


    .subskribe-form {
        margin-left: 80px;
        padding-top: 100px;
    }
    
    }