@media screen and (max-width: 320px) {
    .container {
      min-width: 320px;
    }
    .container-portfolio{
         width: 294px;
         align-items: center;
         justify-content: center;
    }
  
    
        /*--------------Section1--------*/
        .hhead {
            text-align: center;
            font-weight: 700;
            font-size: 36px;
            line-height: 1.1;
            letter-spacing: 0.02em;
            text-transform: capitalize;
         }
        
         .phead{
            margin-top: 8px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
        }
 .about-link {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 }
 /* mobmenu */
 .container-mob{
   width: 296px;
 }
 .mob-soc-list{
   gap: 15px
 }
/*--------------Section2--------*/
.our-work{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 }
  /* Sectio4 */
  .cust-link {
   width: 100%;
   height: 100%;
 }

  /* -----FOOOTER---- */
.subskribe-input{
   width: 100%;
}
/* PORTFOLIO */
.portfolio-content {
   justify-content: center;
   align-items: center;
}
.container-portfolio{
   width: 296px;
}
  
}

@media screen and (min-width: 320px) {
    .container {
      min-width: 320px;
    }

    /*--------------Section1--------*/
    .hhead {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-transform: capitalize;
     }
    
     .phead{
        margin-top: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
    }
 .about-link {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 }
 /* mobmenu */
 .container-mob{
   width: 320px;
 }
 .mob-soc-list{
   gap: 20px
 }
/*--------------Section2--------*/
.our-work{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 }

 .container-portfolio{
   width: auto;
   align-items: center;
      justify-content: center;
 }
 /* Sectio4 */
 .cust-link {
   width: 100%;
   height: 100%;
 }
  /* -----FOOOTER---- */
.subskribe-input{
   width: 320px;
}
/* PORTFOLIO */
.portfolio-content {
   justify-content: center;
   align-items: center;
}
.container-portfolio{
   width: 320px;
}
}

@media screen and (min-width: 480px) {
.container {
   max-width: 428px;
}
.container-one {
   width: 426px;
}
.container-three{
   width: 294px;
}
/*-------MAIN BLACK BOX--------*/
.mainheadder{
   padding: 112px 0px;
}
/*--------------Section1--------*/
 .about-item >.container {
    width: 396px;
    display: flex;
    align-items: left;
 }
 .hhead {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
 }

 .phead{
    width: 369px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-left: -50px;

}
 
 .about-link {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 }

 /* mobmenu */
 .container-mob{
   width: 428px;
 }
 .mob-soc-list{
   gap: 56px;
 }

 /*--------------Section2--------*/
 .our-work{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 }
 /* -----FOOOTER---- */
.subskribe-input{
    width: 396px;
}
/* PORTFOLIO */
.portfolio-content {
   justify-content: center;
   align-items: center;
}
.container-portfolio{
   width: 426px;
   align-items: center;
   justify-content: center;
}
}
