@media screen and (min-width: 768px) {
    .container {
        min-width: none;
        max-width: none;
        width: 768px;
        /* width: 582px; */
    }

    .container-one{
        width: 766px;
    }
    /* ------TOPLINE---------- */
    .menu-open{
        display: none;
    }

    .mob-menu{
        display: none;
    }

    .navigation{
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    
    .header-nav{ 
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.02em;
        position: relative;
    }
    
    .header-nav .active-link::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: var(--second-btn-color);
        left: 0;
        bottom: -37px;
        border-radius: 2px;
    
    }
    
    .studio-nav{
        font-size: 16px;
        line-height: 1.5;
        color: #2E2F42;
        letter-spacing: 0.02em;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    
    .portfolio-nav{
        font-size: 16px;
        line-height: 1.5;
        color: #2E2F42;
        letter-spacing: 0.02em;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .contact-nav{
        font-size: 16px;
        line-height: 1.5;
        color: #2E2F42;
        letter-spacing: 0.02em;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .contact-link{
        display: flex;
        flex-direction: column;
        /* display: block; */
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;   
        letter-spacing: 0.02em;
        margin-left: 30px;
    }
    
    .studio-nav:hover,
    .portfolio-nav:hover,
    .contact-nav:hover,
    .studio-nav:focus,
    .portfolio-nav:focus,
    .contact-nav:focus{
        color: #404BBF;
    }
    
    .header-mail{
        margin-right: none;
    color: #434455;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    
    .header-tel{
        color: #434455;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .header-tel:hover,
    .header-mail:hover,
    .header-tel:focus,
    .header-mail:focus{
        color: #404BBF;
    }

    /*-------MAIN BLACK BOX--------*/
    .mainheadder >.container{
        display: block;
        padding: 0;
        width: 100%;
        flex-wrap: none;
        align-items: none;
        justify-content: none;
    }
    .mainheadder{
        padding: 112px 0px;
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), 
     url(../img/people-office-backgroundtab.jpg);
    }

    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .mainheadder {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), 
     url(../img/people-office-backgroundtab2x.jpg);
  }
}

    .title{ 
        font-size: 56px;
        line-height: 1.07;
    }

    /*--------------Section1--------*/
    .about-item >.container {
        width: 582px;
     }
     .about-item{
        width: 356px;
     }
    .about-list {
        gap: 72px 24px;
        
    }

    .hhead{
        text-align: left;
    }
    .phead{
        margin-left: 0;
        width: inherit;
    }

 /*--------------Section3--------*/
    .team{
        padding-bottom: 104px;
    }
    .img-team{
        gap: 64px 24px;
    }

    

    /*-----SECTION 4---*/
    .cust-container{
        width: 582px;
    }
    .cust-link{
        width: 168px;
        
    }
    .cust-item {
    
        width: calc((100% - 60px)/3);
    }

    /* -----FOOOTER---- */
    
    .wrap-footer{
        width: 582px;
        display: flex;
        flex-wrap: wrap;
    }
    .soc-link-footer{
        padding-top: 96px;
        margin-left: 16px;
    }

    
    .logo-footer{
        font-family: 'Raleway';
        font-style: normal;
        display: block;
        align-items: flex-start;
    }

    .soc-link-footer{
        margin-left: 16px;
    }
    .title-footer-soc{
        display: block;
    }
    .footer-soc-list {
        display: flex;
        gap: 16px;
        justify-content:left;
    }

    .subskribe-form{
        display: inline;
        padding-top: 72px;
        padding-bottom: 96px;
    }

    .title-subskribe{
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        display: block;
        margin-top: -72px;
    }
    .footer-subskribe{
        margin-left: auto;
        display: flex;
    }

    .subskribe-input{
    width: 264px;
    height: 40px;
    margin-top: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.6);
    outline: none;
    padding-left: 16px;
}

.butten-footer{
    display: flex;
    justify-content: center;
}
        /*--------------PORTFOLIO--------*/
.container-portfolio{
    width: 766px;
}
.portfolio-content{
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
    justify-content: start;
}
.nav-portfolio{
    justify-content: center;
    margin-bottom: 72px;
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;
}
.wrap-footer{
    width: 528px;
}

    }


